input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    font-size: 62.5% !important;
  } */
}

.btn {
  @apply inline-block cursor-pointer rounded-md px-6 py-2.5 text-center text-navlinksm font-medium lowercase leading-none transition-colors md:text-navlink;
}

.btn-sm {
  @apply py-1 px-4 text-xl md:text-2xl;
}

.btn-primary {
  @apply border-2 border-primary bg-primary text-body hover:bg-transparent;
}

.btn-black {
  @apply border-2 border-body bg-body text-white hover:bg-transparent hover:text-body;
}

.btn-white {
  @apply border-2 border-white bg-white text-body hover:bg-transparent hover:text-body;
}

.text-base-clamp {
  font-size: clamp(16px, 2.5vw, 19px);
}

.display1-clamp {
  font-size: clamp(40px, 5vw, 80px);
  line-height: 1;
}

.heading1-clamp {
  font-size: clamp(35px, 5vw, 60px);
  line-height: 1;
}

.heading3-clamp {
  font-size: clamp(28px, 5vw, 34px);
  line-height: 1;
}

.heading4-clamp {
  font-size: clamp(23px, 5vw, 26px);
  line-height: 1;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  @apply bg-white;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

.is-open {
  > div {
    transform: translateY(0) !important;
  }
}

.link-active {
  svg {
    opacity: 1;
  }

  &.btn svg {
    opacity: 0.6;
  }
}

.section {
  @apply my-12 md:my-28;
}

.section-bg {
  @apply py-12 md:py-28;
}

.image-container {
  width: 100%;

  > span {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
